body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
.gift {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.gift-top {
    position: relative;
    width: 100%;
    height: 25%;
    background: #f54537;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(
        to right,
        #f54537 0%,
        #f54537 44%,
        #ffc113 44%,
        #ffc113 56%,
        #f54537 56%,
        #f54537 100%
    );
}

.gift-top::before,
.gift-top::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #ffc113;
    border-radius: 50% 50% 0 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-100%, -100%, 0) skew(10deg, 10deg);
}

.gift-top::after {
    border-radius: 50% 50% 50% 0;
    transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
}

.gift:hover .gift-top {
    bottom: 20px;
}

.gift-bottom {
    width: 95%;
    height: 75%;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        #f54537 45%,
        #ffc113 45%,
        #ffc113 55%,
        #f54537 55%
    );
    border-radius: 0 0 5px 5px;
}

/* ------------------------------------------ */
.lucky-number-panel {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: greenyellow;

    border: solid green 20px;
    border-radius: 180px;
}

.lucky-number {
    font-size: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    top: -150px;
}

.open-list-btn {
    margin-top: 130px;
    outline: none;
    height: 40px;
    text-align: center;
    width: 100px;
    border-radius: 40px;
    background: white;
    border: 2px solid #1ecd97;
    color: green;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
}

.open-list-btn:hover {
    color: white;
    background: #1ecd97;
}

/* -------------------------- */
.list-panel {
    display: none;
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: grey;
    opacity: 0.5;
}
.list {
    border: solid 50px #d28070;
    border-radius: 45px;
    background: #e5e3d1;

    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    height: 60%;
    position: absolute;
}

.list ul  {
    max-height: 100%;
    overflow: auto;
    margin: 0;
}

.list li {
    padding: 5px 10px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 120%;

    left: 40%;
}
.fa-arrow-alt-circle-right {
    font-size: 50px;
    color: red;
}
